<% hidden = false unless local_assigns[:hidden] %>
<%= form_for [:admin, @post], html: {style: "display: #{hidden ? 'none' : 'block' }"} do |f| %>
  <%= render 'common/errors', object: @post %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <!-- Указываем список категорий -->
  <div class="field">
    <%= f.label :category_ids, 'Категории'  %><br>
    <%= f.collection_select :category_ids, Category.all, :id, :body, {}, {multiple: true} %>  
    <!-- :category_ids - у поста есть данный массив, где хранятся id категорий -->
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
