<%=div_for @post do  %>
<p>
  <strong>Название</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Текст</strong>
  <%= @post.body %>
  </p>
  <% end %>
  <%= render 'form', hidden: true %>
  <p><%= link_to 'Edit', '#', class: 'edit_post_link', data: { post_id: @post.id } %></p>
  <p>
  <!-- Выводим категории -->
  <b>Категории:</b>
  <%= @post.categories.pluck(:body).join(', ') %>
  </p>
  <!-- Выводим автора -->
  <%if @post.user.present? %>
  <p>
  <strong>Автор</strong>
  <%= @post.user.email %>
  </p>
  <% end %>


<!-- Выводим комментарии к постам-->

  <h3>Комментарии</h3>
  <%unless @post.comments.empty?%>
   <%= render @comments %>
  <% else %>
   <p>Комментариев нет.</p>
  <% end %>
  
<%= link_with_icon :pencil, edit_admin_post_path(@post), title: t('common.edit') %>
<%= link_to 'Back', admin_posts_path %>