<%= div_for comment do %>
<p> <%= comment.body %></p>
<% end %>
<%= render 'admin/comments/form', comment: comment, hidden: true %> 
<%= link_with_icon 'o-trash', [:admin, comment], title: t('common.delete'), method: :delete, data: { confirm: 'Are you sure?' }  %>
<%= link_to 'Edit', '#', class: 'edit_comment_link', data: {comment_id: comment.id} %>