<p>
  <strong><%= t('common.title')%>:</strong>
  <%= @post.title %>
</p>

<p>
  <strong><%= t('common.body')%>:</strong>
  <%= @post.body %>
  </p>
  <p>
  <!-- Выводим категории -->
  <b>Категории:</b>
  <%= @post.categories.pluck(:body).join(', ') %>
  </p>
  <!-- Выводим автора -->
  <%if @post.user.present? %>
  <p>
  <strong>Автор</strong>
  <%= @post.user.email %>
  </p>
  <% end %>


<!-- Выводим комментарии к постам-->

  <h3>Комментарии</h3>
  <%unless @post.comments.empty?%>
   <%= render @comments %>
  <% else %>
   <p>Комментариев пока нет. Оставте комментарий первым!</p>
  <% end %>

  <h4>Новый комментарий</h4>

  <%= render 'comments/form' %>
  


<% if current_user.id == @post.user.id %>
<%= link_with_icon :pencil, edit_post_path(@post), title: t('common.edit') %>
<% end %>
<%= link_to t('common.back'), posts_path %>